* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
}

button {
    color: #fff;
    background-color: #000;
    outline: none;
}

input {
    color: #fff;
    background-color: #000;
    outline: none;
    font-size: 20px;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid: "ask   ball" 1fr 
          "resp  resp" 1fr;
}

h1#prompt {
    grid-area: ask;
}

button#ball {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 50px;
    justify-self: center;
    grid-area: ball;
}

#response {
    grid-area: resp;
}